@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="shortcut icon" href="~/assets/images/favicon.svg" type="image/x-icon" />
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/lineicons.css" />
    <link rel="stylesheet" href="~/assets/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/assets/css/fullcalendar.css" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    @RenderSection("Styles", required: false)
</head>
<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>

    <!-- Sidebar -->
    @Html.Partial("_Sidebar")

    <!-- Main Content -->
    <main class="main-wrapper">
        <!-- Header -->
        @Html.Partial("_Header")

        <!-- Page Content -->
        @RenderBody()

        <!-- Footer -->
        @Html.Partial("_Footer")
    </main>

    <!-- Scripts -->
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/Chart.min.js"></script>
    <script src="~/assets/js/dynamic-pie-chart.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/fullcalendar.js"></script>
    <script src="~/assets/js/jvectormap.min.js"></script>
    <script src="~/assets/js/world-merc.js"></script>
    <script src="~/assets/js/polyfill.js"></script>
    <script src="~/assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
